* {
    font-family: "Times New Roman", Times, serif;
}

.intro-section {
    background-color: lightskyblue;
    border-radius: 5px;
    padding-bottom: 20px;
}

.report-title {
    text-align: center;
    padding-top: 15px;
}

.section-title {
    background-color: lightskyblue;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
}

.subsection-title {
    padding-left: 10px;
}

p {
    text-align: justify;
    line-height: 1.5;
    font-size: 1em;
    max-width: 900px;
    padding-left: 10px;
}

.table-of-contents-list {
    list-style-type: square;
}

.table-of-contents-list ol {
    list-style-type: none;
}

td.student-number {
    padding-left: 50px;
}

table.timeframe-table,
th,
td.timeframe-cell {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

table.timeframe-table {
    max-width: 900px;
}

th.week-header {
    background-color: lightskyblue;
    width: 75px;
}

th.main-header {
    background-color: lightskyblue;
    width: 300px;
}

th.completed-week {
    background-color: lightblue;
    width: 75px;
}

th.incomplete-week {
    background-color: lightgray;
    width: 75px;
}