.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
}

#start-dropzone {
    width: 80%;
    min-height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    background-color: lightblue;
}

.flex-element {
    min-width: 50px;
    height: 1em;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.activity-code {
    width: 80%;
    height: 600px;
    margin: 10px;
    padding: 10px;
    border: 3px solid blue;
    border-radius: 10px;
    position: relative;
}

.new-line {
    float: left;
    clear: left;
    height: 10;
    line-height: 10px;
}

.in-line {
    float: left;
    height: 10px;
    line-height: 10px;
}

.awnser-line {
    float: left;
    min-width: 200px;
    min-height: 3em;
    vertical-align: text-top;
    margin: 10px;
    border: 2px solid grey;
    border-radius: 25px;
}

#check-answer {
    position: absolute;
    height: 3em;
    bottom: 5%;
    right: 5%;
}

#score {
    position: absolute;
    font-weight: bolder;
    height: 2em;
    padding: 10px;
    bottom: 13%;
    right: 5%;
}

#clear-button {
    margin: 10px;
}
